<div class ="container">
    <div class = "row">   
            <h1>Listing all Articles</h1>
            <%= link_to "Create New Article", new_article_path, class: "btn btn-success" %>
            <br/>
    </div>
<div align="center">
    <%= will_paginate %>
    
</div>
    <%= render 'article', obj: @articles %>
    
<div align="center">
    <%= will_paginate %>
    
</div>
</div>