<div id="banner">
    <div class="banner_content">
        <h1>Alpha Blog</h1>
        <p>The Non_Beta Blog</p>
        <%= link_to "Sign Up", "", class: "btn btn-danger" %>
        
    </div>
    
</div>

<div id ="testimonial">
    <div class="wrapper">
        <p class="quote">The best Alpha blog there is..</p>
        <p class="name">-Shane Carr</p>
    </div>
    
</div>

<div id="callouts">
    <div class="callout_inner">
        <div class="wrapper">
            <div class="callout">
                <span class="glyphicon glyphicon-asterisk"></span>
                <h2>Notes</h2>
                <br>
                <p>Meatball drumstick pork loin, ham ball tip landjaeger andouille pig. Rump short ribs shank pig corned beef picanha strip steak turkey ground round bresaola shankle pork loin. </p>
            </div>
             <div class="callout">
                 <span class="glyphicon glyphicon-piggy-bank"></span>
                <h2>Notes</h2>
                <br>
                <p>Meatball drumstick pork loin, ham ball tip landjaeger andouille pig. Rump short ribs shank pig corned beef picanha strip steak turkey ground round bresaola shankle pork loin. </p>
            </div>
             <div class="callout">
                 <span class="glyphicon glyphicon-cloud"></span>
                <h2>Notes</h2>
                <br>
                <p>Meatball drumstick pork loin, ham ball tip landjaeger andouille pig. Rump short ribs shank pig corned beef picanha strip steak turkey ground round bresaola shankle pork loin. </p>
            </div>
            
        </div>
        
    </div>
    
</div>