@import "bootstrap-sprockets";
@import "bootstrap";

$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$green: #eca012;

@mixin bold_font {
	font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	padding-top: 4.5rem;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

	h1 {
			@include bold_font;
			color: $dark_gray;
			font-size: 3.5rem;
			margin-top: 60px;
		}
		
.wrapper {
	width: 80%;
	margin: 0 auto;
}



.wrapper_with_padding {
	width: 80%;
	margin: 0 auto;
	padding: 3.5rem 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.top-buff {
	margin-top: 130px;
	
}

button, .button {
	border: none;
	outline: none;
	background: $green;
	padding: 2rem 3.5rem;
	border-radius: 3rem;
	p {
		color: white;
		text-decoration: none;
		font-size: 3.5rem;
		&:hover {
		color: $dark_gray;
	}
	}
}

.button {
	color: white;
	margin: 2rem 0;
}

a {
	color: $green;
	text-decoration: none;
	&:hover {
		color: $dark_gray;
	}
}

#logo{
	float:left;
	margin-left: 10px;

}

header_inner image_tag{
	width:50px;
}

#text_logo{
	float: left;
	margin-left: 10px;
	font-weight: 700;
font-size: .8em;
letter-spacing: 4px;
text-transform: uppercase;
border: 2px solid;
padding: 1rem;
text-decoration: none;
color: $dark_gray;

}

.mybtn {
	margin-left: 10px;
	font-weight: 700;
font-size: .8em;
letter-spacing: 4px;
text-transform: uppercase;
border: 2px solid;
padding: 1rem;
text-decoration: none;
color: $dark_gray;
	
}

nav{
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	
}

header {
	background: #f1efe3;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1.75rem 0;
	border-bottom: 7px solid $green;
	.header_inner {
		width: 90%;
		margin: 0 auto;
		
		#logo {
			display: inline-block;
			width: 10rem;
			float: left;
		}
		nav {
			float: right;
			margin-right: 10px;
		
			a {
				text-decoration: none;
				color: white;
				font-size: 1.1rem;
				line-height: 1.5;
				margin-left: 1rem;
				&:hover {
					color: $green;
				}
			}
		}
	}
}

.listing {
	
	list-style:none;
	padding-left: 0;
}

.wrapper_foot {
	width: 100%;
	padding-top: 15px;
	margin-top: 10px;
	margin-bottom: 30px;
	padding-bottom: 20px;
	background: $dark_gray;
}

.foot_hr {
	border-bottom: 4px solid #f1f1f1;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

footer {
	/*background: $dark_gray;*/
	width: 80%;
	/*height: 8rem;*/
/*	padding: 2rem 0; */
	color: white;
	text-align: center;
	background: $dark_gray;
	margin: 0 auto;
	/*@include bold_font;*/
	p {
		margin: 0;
		font-size: 1.5rem;
	}
}

.footer_inner {
	width: 90%;
	margin: 0 auto;
	clear:both;
}

.inner_1{
	width: 30%;
	margin: 0 auto;
	float: left;
	
}

.inner_2{
	width: 30%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	float: left;
	
	
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
	margin-bottom: 1rem;
	border: 1px solid $light_gray;
	border-radius: .4rem;
}

input[type="text"], input[type="email"], input[type="password"] {
	height: 40px;
}

textarea {
	min-height: 200px;
}

/********* About Page ********/

#callabouts {
	background-image: url(image_path("hipster-office-e1417796369862.jpg"));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 400px;
	display: table;
	.callabout_inner {
		display: table-cell;
		vertical-align: middle;
	}
	.callabout {
		text-align: center;
		width: 33.3333%;
		padding: 1.5rem 2.5%;
		float: left;
		h2 {
			@include bold_font;
			color: white;
			margin-bottom: 0;
		}
		p {
			color: white;
			font-size: 13px;
		}
	}
}

.glyphicon {
	font-size: 40px;
	color: white;
}