<div id="footer">
    <div class ="footer_inner">
<div class ="inner_1"><p>Meatball drumstick pork loin, ham ball tip landjaeger andouille pig. Rump short ribs shank pig corned beef picanha strip steak turkey ground round bresaola shankle pork loin</p></div>
<div class ="inner_2"><p>Meatball drumstick pork loin, ham ball tip landjaeger andouille pig. Rump short ribs shank pig corned beef picanha strip steak turkey ground round bresaola shankle pork loin</p></div>
<div class ="inner_1"><p>Meatball drumstick pork loin, ham ball tip landjaeger andouille pig. Rump short ribs shank pig corned beef picanha strip steak turkey ground round bresaola shankle pork loin</p></div>
    </div>
    <br/>
    <i class="fa fa-twitter"></i>
</div>